<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace= "~{base :: parent(~{::#content}, ~{::title})}">
<head>
    <title>Contact</title>
</head>
<body>
    <section>
    <div id="content" style="margin-top: 10vh;">
        <h1 class="h-32">You Are in Contact page....</h1>
        <h1>Welocome to Pune City of gold. Where Software Enginners are the purest form of the gold.</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore incidunt eligendi ullam ea in, fugit tempore similique exercitationem ut temporibus unde laboriosam commodi aliquam possimus ipsum repellendus quos veniam ad!
    </div>

</section>
</body>
</html>